# Tech Lead aprova tudo por padrão
*       @gblzera

# Schema e migrations Prisma
back-end/prisma/   @gblzera


# Se quiser dar áreas específicas pra outras pessoas:
# back-end/   @gblzera 
# front-end/  @gblzera 
