.wrapperDelete {
  color: red;
  margin-top: 40px;
  border: 1px solid red;
  padding: 20px;
  display: flex;
  font-size: 1.1rem;
  border-radius: 10px;
  justify-content: space-between;
  align-items: center;
}

.deleteInfo h2 {
  margin: 0;
  font-size: 1.3rem;
}

.deleteInfo p {
  margin: 0;
  font-size: 0.9rem;
}

.deleteButton {
  background-color: red;
  color: white;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 8px;
  padding: 10px 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.deleteButton:hover {
  background-color: #a80000;
}
